/*


⠸⢢⡀　　　⠘⡉⠉⢍⠒⢄
 ⠑⢜⠈⣶⣾⣿⣿⣿⡦⠄⠑⠞⣷⣄
   ⣴⣿⣿⣿⣿⣿⡏⢠⣶⣦⡀⠈⣿⣦
 ⣾⣿⣿⣿⣿⡿⠟⠁⡏⢿⣿⣷  ⢹⣿⣧
 ⢿⣿⣿⠟⢡⣶⣄  ⢃  ⡠⠊  ⣸⣿⣿⣧
   ⠻⠁    ⠑⡤⠃  ⠁    ⠘⣿⣿⣿⣿
　　 　 　 ⢀⣑⠼⠤⢤⠊⢀⣾⣿⣿⣿⡇
　　　　⡔    ⡇  ⡎  ⣿⠿⣫⣿⣿⡇
　　　　⡇  ⢠⠁⡠⣇    ⣾⣿⣿⠟⠅
　　　　⢣  ⠈⠁  ⡸    ⠻⠟⠁  ⠈⠂⢄
　　　　　⠑⠒⠒⢁⠃  ⢸  ⢀⠊⠉⠉⠁  ⠈⠢
　　　　 　　 ⢀⠃    ⠏⠢⡈⢄            ⣆⣀⣤⣶⣶⣶⣦⣄
　　　 　 　 ⡠⠁    ⣌⠔⠂⠉⠢⣑⠤⠤    ⠚⢌⠉⠲⢶⣦⠙⣿⣿⣷
　　　　　⢔⣀⣀⣀⣰⠁    ⡐⠁      ⡠⠒⠉  ⣀⣤⣾⡿  ⣿⣿⡿
　 　 　 　 　 　⠈⠒⠂⠉⠁⢇⣀⠤⠄⠃⣠⣶⣿⣿⣿⣟⣉⣀⣾⣿⠋

*/

/*--------------------------------------------*/
            /* глобальные стили  */
/*--------------------------------------------*/
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;

}

body,
a,
button,
input {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.15;
  
}

body {
  position: relative;
  background: url("/img/fonreg.jpg") no-repeat center fixed;
  background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
@media screen and (min-width: 768px) {
  body {
    min-height: 100%;
    height: auto;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal; 
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    overflow-y: visible;
   }
}


/*--------------------------------------------*/
      /* Основные стили для форм и кнопок */
/*--------------------------------------------*/


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
button:active, button:hover {
  outline: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:active, a:hover {
  outline: 0;
}

/*--------------------------------------------*/
         /* Стили для панелей и форм */
/*--------------------------------------------*/

.panel_blur,
.panel {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .panel_blur,
  .panel {
    
    width: 350px;
    height: 500px;
    overflow-y: visible;
  }
}

/**
 * Blur
 */
.panel_blur {
  position: absolute;
  background: url("") no-repeat center fixed;
  background-size: 100% 100%;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}


.panel {
  position: relative;
  z-index: 1;
}
.panel__register-form, .panel__password-form {
  display: none;
}
.panel__register-form .form__submit {
  margin-top: 5px !important;
}

/*--------------------------------------------*/
      /* Стили для модальных окон и форм */
/*--------------------------------------------*/

.panel__forms {
  width: 100%;
  height: 100%;
  padding: 10%;
}

@media screen and (min-width: 768px) {
  .panel__form-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }
}

@media screen and (min-width: 768px) {
  .panel__form-wrapper {
    padding: 10% 15%;
    border-radius: 10px;
    overflow-y: visible;
  }
}

/*--------------------------------------------*/
        /* Стили для кнопок и ссылок */
/*--------------------------------------------*/

.panel__prev-btn {
  width: 24px;
  height: 24px;
  background: none;
  padding: 0;
}
.panel__prev-btn svg {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.panel__prev-btn:hover > svg {
  fill: #ff1552;
}
.panel__headers {
  padding: 10px 0;
  text-align: center;
}
.panel__header {
  font-size: 1.375rem;
}
.panel__header:first-child {
  padding-bottom: 5px;
}
.panel__header.active > .panel__link {
  color: #ff1552;
  font-size: 3rem;
}
.panel__link:hover{
  color: #13e046;
  transform: 1.5;
}

.panel__link {
  color: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 600;
}

/**
 * Styles for <form>
 */
.form__row {
  position: relative;
  padding-top: 40px;
}
.form__row.has-error > .form__error:after {
  display: block;
}
.form__input {
  width: 100%;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: none;
}
.form__input:focus, .form__input:active {
  outline: 0;
}

/*--------------------------------------------*/
     /* Стили для валидации форм и ошибок */
/*--------------------------------------------*/

.form__input:focus ~ .form__label, .form__input:active ~ .form__label, .form__input:valid ~ .form__label {
  bottom: 30px;
  font-size: 0.75rem;
}
.form__input:focus ~ .form__bar, .form__input:active ~ .form__bar {
  left: 0;
  right: 0;
  width: 100%;
}
.form__bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  display: block;
  width: 0;
  height: 2px;
  background-color: #ff1552;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form__label {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.form__submit {
  width: 100%;
  padding: 10px 0;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  background-color: #ff1552;
  cursor: pointer;
}
.form__submit:hover{
  background-color: #169436;
  transition:  1.0s;
}

.form__retrieve-pass {
  display: block;
  padding: 15px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form__retrieve-pass:hover {
  color: #fff;
}
.form__error {
  position: absolute;
  bottom: -20px;
  display: block;
  width: 100%;
  height: 20px;
  color: #ff1552;
  font-size: 0.75rem;
  line-height: 20px;
}
.form__error:after {
  content: "x";
  position: absolute;
  bottom: 20px;
  right: -20px;
  display: none;
  width: 20px;
  height: 25px;
  font-size: 1.125rem;
  line-height: 25px;
  text-align: center;
  color: #ff1552;
}
.form__info {
  text-align: center;
}

.form__label {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  transition: all 0.3s;
  pointer-events: none;
}

/*--------------------------------------------*/
              /* Остальные стили */
/*--------------------------------------------*/

#unique-id, .unique-class {
  
  position: absolute;
  right: 0;
  top: 0;
}

.rs_icons{
  text-align: center;
  margin-top: 1em;
}

.rs_icons a {
    transition: all 0.3s;
    font-size: 24px;
    margin: 0 10px;
    color: #fff;
    border-radius: 50%; 
    border-radius: 50%; /* Закругление */
  -webkit-border-radius: 50%; /* Для Safari и Chrome */
  -moz-border-radius: 50%; /* Для Firefox */

  } 


.rs_icons a:hover {
  color: #ff1552;
}

.pass-hide-register,
.pass-hide-login {
  position: absolute;
  right: 5px;
  top: 80%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ff1552;
  
  z-index: 2; 
}

.form__row {
  position: relative; 
}

.pass-hide-register:hover {
  color: #00fd3f;
  transition:  0.5s;
}


.pass-hide-login:hover {
  color: #00fd3f;
  transition:  0.5s;
}


/*


❄️❄️🎆'❄️❄️❄️❄️❄️❄️❄️❄️ ❄️❄️　＊　*　'
＊   *　'　*　.*   🌟　＊　*　'＊　*　*
＊   　*🎇.*　'✨ 🏮✨ 　　　 ' 🎇＊
.   　　　＊　 ✨ ☆☆☆✨　＊　　　　'　　.
　   　*　　' ✨+:...💙.✨　　*
'   　　　　'✨☆🏮☆🏮☆ ✨　*　　＊　'🎆　
　   🎇　＊✨+:💚:+＠+💚:✨　　🎇'　　*
＊   　.　✨☆☆📀☆📀☆☆📀 ✨ ＊　'　*　.
'   　　. ✨+:..:++:..💚..+&✨
　   *　✨☆🏮☆☆🏮☆☆🏮☆ 🏮✨　＊　'🎆　　*
'   　. ✨+:...:+💙+:...:+💙§✨
.   　✨☆📀☆📀☆ ☆📀☆📀☆📀☆✨　　'　*
　   ✨💙+💙+:..:+@+:..:+💙+💙✨
　.　　*　.　　.   🟫 　 '　' ＊　　　　　*
*　　*　.　**　    🟫　　　.　　*　.　　'
　 ,·´ ¸,· * * 💝🎁🎁💝　　　*

𝙈𝙚𝙧𝙧𝙮 𝘾𝙝𝙧𝙞𝙨𝙩𝙢𝙖𝙨 & 𝙃𝙖𝙥𝙥𝙮 𝙉𝙚𝙬 𝙔𝙚𝙖𝙧

*/
